
/* Importation Police Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    top: 10px;
    width: 100%;
    height: 75px;
    text-align: center;
    position: sticky;
    /* border-bottom: solid 1px black; */
    box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
}
nav > ul > a {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.8em;
    text-decoration: none;
}
#logo{
    width: 175px;
}


/* Header section */
header{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: relative;
    height: 100vh;
}

header > h1{
    position: absolute;
    top: 100px;
    left: 125px;
    font-size: 6em;
    color: black;
    font-weight: 600;
    width: 50%;
}
header > h1 > span{
    color: #60B6FF;
}

header > button{
    position: absolute;
    top: 400px;
    left: 125px;
    background-color: #60B6FF;
    padding: 15px 35px;
    border-radius: 58px;
    font-size: 2em;
    color: aliceblue;
    border: none;
}

#illustration-header{
    position: absolute;
    top:   130px;
    right: 12%;
}   

#appel-scroll-header{
    position: absolute;
    bottom: 100px;
    left: 50%;
    animation: call_to_scroll 1s infinite;
}

@keyframes call_to_scroll{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
