html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#whenLoading {
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s linear;
    background-color: white;
}

#imageLoading {
    transition: transform 1s linear;
}

.loaderZoom {
    transform: scale(1.3);
}

.loaderDeZoom {
    transform: scale(1);
}

.disparait {
    opacity: 0;
}

#whenLoading > img {
    width: 35%;
}